#####################################################################
#   Autotune settings
#####################################################################
[autotune_tmc extruder]
# This parameter is used to retrieve the physical constants of the motor connected to the TMC driver
# Values: See DB - https://github.com/andrewmcgr/klipper_tmc_autotune/blob/main/motor_database.cfg
motor: ldo-36sth20-1004ahg
# Parameter to choose how to fine-tune the TMC driver using StealthChop and tailored parameters.
# By opting for auto, it will automatically apply performance for the X and Y axes and silent for the Z axis and extruder.
# autoswitch is an highly experimental choice that enables dynamic switching between silent and performance modes in real-time when needed.
# However, at the moment, this transition can potentially be troublesome, resulting in unwanted behavior, noise disturbances and lost steps.
# Hence, it is recommended to avoid using 'autoswitch' until its identified issues are fully addressed
# Values: auto, silent, performance, and autoswitch
# Default: auto
tuning_goal: performance
# Voltage used to power this motor and stepper driver
# Values: 0.0 to 60.0
# Default: 24
voltage: 24

[autotune_tmc stepper_x]
# This parameter is used to retrieve the physical constants of the motor connected to the TMC driver
# Values: See DB - https://github.com/andrewmcgr/klipper_tmc_autotune/blob/main/motor_database.cfg
motor: ldo-42sth48-2004mah
# Parameter to choose how to fine-tune the TMC driver using StealthChop and tailored parameters.
# By opting for auto, it will automatically apply performance for the X and Y axes and silent for the Z axis and extruder.
# autoswitch is an highly experimental choice that enables dynamic switching between silent and performance modes in real-time when needed.
# However, at the moment, this transition can potentially be troublesome, resulting in unwanted behavior, noise disturbances and lost steps.
# Hence, it is recommended to avoid using 'autoswitch' until its identified issues are fully addressed
# Values: auto, silent, performance, and autoswitch
# Default: auto
tuning_goal: auto
# Voltage used to power this motor and stepper driver
# Values: 0.0 to 60.0
# Default: 24
voltage: 24

[autotune_tmc stepper_y]
# This parameter is used to retrieve the physical constants of the motor connected to the TMC driver
# Values: See DB - https://github.com/andrewmcgr/klipper_tmc_autotune/blob/main/motor_database.cfg
motor: ldo-42sth48-2004mah
# Parameter to choose how to fine-tune the TMC driver using StealthChop and tailored parameters.
# By opting for auto, it will automatically apply performance for the X and Y axes and silent for the Z axis and extruder.
# autoswitch is an highly experimental choice that enables dynamic switching between silent and performance modes in real-time when needed.
# However, at the moment, this transition can potentially be troublesome, resulting in unwanted behavior, noise disturbances and lost steps.
# Hence, it is recommended to avoid using 'autoswitch' until its identified issues are fully addressed
# Values: auto, silent, performance, and autoswitch
# Default: auto
tuning_goal: auto
# Voltage used to power this motor and stepper driver
# Values: 0.0 to 60.0
# Default: 24
voltage: 24

[autotune_tmc stepper_z]
# This parameter is used to retrieve the physical constants of the motor connected to the TMC driver
# Values: See DB - https://github.com/andrewmcgr/klipper_tmc_autotune/blob/main/motor_database.cfg
motor: ldo-42sth40-1684cl350et
# Parameter to choose how to fine-tune the TMC driver using StealthChop and tailored parameters.
# By opting for auto, it will automatically apply performance for the X and Y axes and silent for the Z axis and extruder.
# autoswitch is an highly experimental choice that enables dynamic switching between silent and performance modes in real-time when needed.
# However, at the moment, this transition can potentially be troublesome, resulting in unwanted behavior, noise disturbances and lost steps.
# Hence, it is recommended to avoid using 'autoswitch' until its identified issues are fully addressed
# Values: auto, silent, performance, and autoswitch
# Default: auto
tuning_goal: performance
# Voltage used to power this motor and stepper driver
# Values: 0.0 to 60.0
# Default: 24
voltage: 24

[autotune_tmc stepper_z1]
# This parameter is used to retrieve the physical constants of the motor connected to the TMC driver
# Values: See DB - https://github.com/andrewmcgr/klipper_tmc_autotune/blob/main/motor_database.cfg
motor: ldo-42sth40-1684cl350et
# Parameter to choose how to fine-tune the TMC driver using StealthChop and tailored parameters.
# By opting for auto, it will automatically apply performance for the X and Y axes and silent for the Z axis and extruder.
# autoswitch is an highly experimental choice that enables dynamic switching between silent and performance modes in real-time when needed.
# However, at the moment, this transition can potentially be troublesome, resulting in unwanted behavior, noise disturbances and lost steps.
# Hence, it is recommended to avoid using 'autoswitch' until its identified issues are fully addressed
# Values: auto, silent, performance, and autoswitch
# Default: auto
tuning_goal: performance
# Voltage used to power this motor and stepper driver
# Values: 0.0 to 60.0
# Default: 24
voltage: 24

[autotune_tmc stepper_z2]
# This parameter is used to retrieve the physical constants of the motor connected to the TMC driver
# Values: See DB - https://github.com/andrewmcgr/klipper_tmc_autotune/blob/main/motor_database.cfg
motor: ldo-42sth40-1684cl350et
# Parameter to choose how to fine-tune the TMC driver using StealthChop and tailored parameters.
# By opting for auto, it will automatically apply performance for the X and Y axes and silent for the Z axis and extruder.
# autoswitch is an highly experimental choice that enables dynamic switching between silent and performance modes in real-time when needed.
# However, at the moment, this transition can potentially be troublesome, resulting in unwanted behavior, noise disturbances and lost steps.
# Hence, it is recommended to avoid using 'autoswitch' until its identified issues are fully addressed
# Values: auto, silent, performance, and autoswitch
# Default: auto
tuning_goal: performance
# Voltage used to power this motor and stepper driver
# Values: 0.0 to 60.0
# Default: 24
voltage: 24

