[include configs/*.cfg]
[include macros/*.cfg]
[include stealthburner_leds.cfg]
[include autotune_tmc.cfg]
[include moonraker_obico_macros.cfg]
# This file contains common pin mappings for the LDO Voron 2.4 Rev. D kit
# See docs/Config_Reference.md for a description of parameters.

# See docs/Config_Reference.md for a description of parameters.

## Voron Design VORON Trident 250/300/350mm Leviathan V1.1 config

## *** THINGS TO CHANGE/CHECK: ***
## MCU paths                            [mcu] section
## Thermistor types                     [extruder] and [heater_bed] sections - See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types
## Z Endstop Switch location            [safe_z_home] section
## Homing end position                  [gcode_macro G32] section
## Z Endstop Switch  offset for Z0      [stepper_z] section
## Probe points                         [quad_gantry_level] section
## Min & Max gantry corner postions     [quad_gantry_level] section
## PID tune                             [extruder] and [heater_bed] sections
## Probe pin                            [probe] section
## Fine tune E steps                    [extruder] section

[mcu]
##  Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
canbus_uuid: 15a728293763
#restart_method: command
##--------------------------------------------------------------------

[mcu nhk]
##  Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_rp2040_4E363334320B908F-if00
restart_method: command
##--------------------------------------------------------------------

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 11600
max_z_velocity: 15          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 12

[force_move]
enable_force_move: True

[input_shaper]
shaper_freq_x: 63.0
shaper_type_x: mzv
shaper_freq_y: 40.8
shaper_type_y: mzv

[exclude_object]

[idle_timeout]
gcode:
  COB_Light_off
  STATUS_OFF
  M84
timeout:1800

#####################################################################
#   Filament sensor
#####################################################################

#[filament_switch_sensor Filament]
#pause_on_runout: True
#runout_gcode: M600
#insert_gcode:
#event_delay: 3.0
#pause_delay: 0.5
#switch_pin: !PC0


########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PG9, EXP1_2=PG12,
    EXP1_3=PG13, EXP1_4=PG14,
    EXP1_5=PC13, EXP1_6=PC14,    # Slot in the socket on this side
    EXP1_7=PC15, EXP1_8=PF0,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PE2, EXP2_4=PE4,
    EXP2_5=PE3, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PE5, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=PE4

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# pid_version = 1
#*# pid_target = 110.00
#*# pid_tolerance = 0.0200
#*# control = pid
#*# pid_kp = 55.178
#*# pid_ki = 2.323
#*# pid_kd = 327.621
#*#
#*# [extruder]
#*# control = mpc
#*# block_heat_capacity = 6.74107
#*# sensor_responsiveness = 0.0777610
#*# ambient_transfer = 0.0472860
#*# fan_ambient_transfer =
#*#
#*# [probe]
#*# z_offset = -1.330
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.045681, 0.020681, 0.034431, 0.028181, 0.040056
#*# 	0.038181, 0.045681, 0.040056, 0.040056, 0.065056
#*# 	-0.006819, -0.011194, -0.012444, 0.009431, 0.008181
#*# 	-0.026819, -0.046819, -0.018069, -0.011819, -0.010569
#*# 	-0.063069, -0.060569, -0.026819, -0.003694, 0.008181
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 40.0
#*# max_x = 260.0
#*# min_y = 40.0
#*# max_y = 260.0
