[gcode_macro CENTER]
description: Moves the toolhead to the center
gcode:
  {% set x_center = printer.toolhead.axis_maximum.x|float / 2.0 %}
  {% set y_center = printer.toolhead.axis_maximum.y|float / 2.0 %}
  {% set z_center = printer.toolhead.axis_maximum.z|float / 2.0 %}
  G90
  G1 X{x_center} Y{x_center} Z{z_center} F6000

[gcode_macro FRONT]
description: Moves the toolhead to the front
gcode:
  {% set x_center = printer.toolhead.axis_maximum.x|float / 2.0 %}
  {% set y_center = printer.toolhead.axis_maximum.y|float / 2.0 %}
  G90
  G1 X{x_center} Y10 F15000


[gcode_macro CHOME]
description: Homes XYZ axis only if printer is in a non-homed state
gcode:
  {% if "xyz" not in printer.toolhead.homed_axes %}
  STATUS_HOMING
  COB_Light_on
  G28 X
  G28 Y
  G1 X150 Y150 F15000
  G28 Z
  #Z_TILT_ADJUST
  {% endif %}
  STATUS_BUSY
  CENTER
  STATUS_READY
